
body {
    margin: 0px;
}

.tab {
    margin-left: 40px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Calibri Light';
    font-size: 40px;
}

h2 {
    font-family:  Calibri, sans-serif;
}


#blog-header-div {
    padding: 5px;
    background-color: rgb(247, 247, 247);
}

.link-banner-div {
    margin-top: 10px;
    padding: 1px;
    background-color: rgb(247, 247, 247);
}



.blog-entry {
    margin: 20px;
    margin-right: 450px;
}

.navbar {
    margin: 20px;
}
